@font-face {
  font-family: "Josefin";
  src: url("../fonts/ufonts.com_hoefler-text.ttf") format("ttf");
  font-weight: normal;
}

:root {
  --primary-color: #121140;
  --secondary-color: #f5921e;
  --font-family: "Josefin Sans", sans-serif;
  --secondary-font: "Josefin", sans-serif;
  --font-size-base: 16px;
  --white-color: #fff;
}

.showcase__container {
  height: 660px;
  position: relative;
  overflow: hidden;
}
.showcase__container .bottom-shadow {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.showcase {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 50px;
  align-items: center;
}
.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.text-container h2 {
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

.text-container p {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  color: #707070;
}

.grid-container {
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: flex-end;
}
.grid-container .flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-container .image-holder.big {
  width: 200px;
  height: 240px;
  border-radius: 30px;
  overflow: hidden;
}
.flex-container .image-holder {
  width: 160px;
  height: 220px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.flex-container .image-holder.small {
  width: 120px;
  height: 160px;
  border-radius: 30px;
  overflow: hidden;
}

.flex-container .image-holder .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-holder .top-shadow {
  position: absolute;
  top: 0;
}

.blog__section {
  padding-block: 80px;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.flex-container .contents {
  width: 570px;
}
.flex-container .contents h3 {
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}
.flex-container .contents p {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  color: #707070;
  margin-bottom: 25px;
}

.flex-container .contents a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.flex-container .image-wrapper {
  width: 560px;
  height: 380px;
  border-radius: 35px;
  overflow: hidden;
}

.flex-container .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list__blogs {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}

.blogs-holder{
  cursor: pointer;
}

.blogs-holder .blog-image-holder {
  width: 100%;
  height: 240px;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 20px;
}

.blogs-holder .blog-image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogs-holder h4 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}
.blogs-holder p {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  color: #707070;
}
.blogs-holder a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 20px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
